html {
    background-image: url(http://68.media.tumblr.com/727faa00e73e4c23626ac12bcf7f94cf/tumblr_nm721bhe341qfirfao1_1280.jpg);
    background-size: cover;
    background-color: #fafafa;
}

body {
    text-align: center;
}

h1 {
    color: #2A2829;
    font-family: "Permanent Marker", sans-serif;
}

span {
    color: #E77C7C;
    font-family: "Permanent Marker", sans-serif;
}

.info {
    background-color: #e1e1e1;
    border-style: solid;
    border-width: thin;
    border-color: rgba(40, 42, 41, .3);
    margin: auto 20% auto 20%;
    padding: 3%;
    box-shadow: 2px 2px 3px #2A2829;
}

.info p {
    text-align: left;
    color: #2A2829;
    font-size: 1.15em;
    font-family: "Droid Serif", sans-serif;
}

.buttons {
    margin-top: 15px;
    margin-bottom: 5%;
}

.buttons button {
    padding: 8px 12px;
    font-size: 1.15em;
    font-family: "Permanent Marker", sans-serif;
    color: rgba(40, 42, 41, 0.8);
    border-radius: 2px;
    border-style: none;
}

.buttons button:hover {
    cursor: pointer;
    color: rgba(40, 42, 41, 1);
}

.buttons #create {
    margin-left: 2%;
    background-color: #E77C7C;
}