html {
    
/*    background-image: url(http://68.media.tumblr.com/103b832359ab552a05853a7d1456a7ce/tumblr_nnyprqNUkX1qfirfao1_1280.jpg);*/
/*    background-image: url(http://68.media.tumblr.com/4f20c05dd92ea5446b59308bff577bd9/tumblr_nmxevsd2C81qfirfao1_1280.jpg);*/
    background-image: url(http://68.media.tumblr.com/9a886b6757ed84f34124eb4635ffee6c/tumblr_nm72fmqOB61qfirfao1_1280.jpg);
    background-size: cover;
    background-color: #fafafa;
}

body {
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: rgba(42, 40, 41, 0.75);
    font-family: "Permanent Marker", sans-serif;
}

div.logo {
    background-color: rgba(42, 40, 41, 0.75);
    margin-bottom: 3%;
}

span {
    color: #E77C7C;
    font-family: "Permanent Marker", sans-serif;
}

.info {
    background-color: #fafafa;
    border-style: solid;
    border-width: thin;
    border-color: rgba(42, 40, 41, .3);
    margin: auto 20% auto 20%;
    padding: 0% 2% 2% 2%;
    box-shadow: 0px 0px 5px rgba(42, 40, 41, 0.6);
}

.info p {
    text-align: left;
    color: #2A2829;
    font-size: 1.15em;
    font-family: "Droid Serif", sans-serif;
}

.buttons {
    margin-top: 15px;
    margin-bottom: 5%;
}

.buttons button {
    padding: 8px 12px;
    font-size: 1.15em;
    font-family: "Permanent Marker", sans-serif;
    color: rgba(42, 40, 41, 0.8);
    border-radius: 2px;
    border-style: none;
    box-shadow: 0px 2px 5px rgba(42, 40, 41, 0.6);

}

.buttons button:hover {
    cursor: pointer;
    color: rgba(42, 40, 41, 1);
}

.buttons #create {
    margin-left: 2%;
    background-color: #E77C7C;
}